# Environment variables
.env

# Dependencies
node_modules/
package-lock.json

# Logs
server.log
server.err
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Optional build/output folders (if used later)
dist/
build/

# IDE files
.vscode/
.idea/